.container{
  margin-bottom: 5px;
  border-radius: 8px;
  padding: 3px 8px;
  color: #5300e6;
  font-family: 'Rasa', serif;
  background: #acff1a;
  font-size: var(--main-text-body-md);
  height: 35px;

}