.container{
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 85px;
  align-items: center;
  
}