.container{
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
 
}


.subContainer {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 80%;
  box-shadow: 2px 2px 15px #ad80ff, -2px 2px 15px #ad80ff ;
  /* background: linear-gradient(90deg, rgba(108, 200, 0,0.3) 0%, rgba(0, 51, 87,0.3) 35%, rgba(255, 133, 0,0.3) 100%); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.subContainer img{
  width: 40%;
}
.section{
 
 box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;

}
.title{
  font-size: var(--main-text-title);
  color: #8d4dff;
  font-family: 'Neuton', serif;
  text-shadow: 
    3px 3px 5px white,
    -3px -3px 5px white,
    3px -3px 5px white,
    -3px 3px 5px white;
  

}
.text{
 padding-right: 8px;
  width: 50ch;
  color: var(--main-text-color);
  text-align: justify;
  font-family: 'Average Sans', sans-serif;
  font-size: var(--main-text-body-md);
 
}
