:root {
  --main-one-color : #7ce600;
  --second-one-color: #007342;
  --main-two-color: #FF8500;
  --second-two-color: rgba(255, 133, 0, 0.8);
  --main-three-color: #6a00e6;
  --second-three-color: green;
  --main-four-color: #EFF0F2;

  --main-text-color: rgb(110, 110, 110);

  --main-text-title: 64px;
  --main-text-subtitle: 36px;
  --main-text-body-xl: 21px;
  --main-text-body-md: 16px;
  --main-text-small: 12px;
  
}

.App {
  text-align: center;
}