.container{
  cursor: pointer;
  background: var(--main-one-color) ;
  border-radius: 25px;
  color: #efe5ff;
  font-family: 'Rasa', serif;
  font-weight:500;
}

.xl{
  height: 50px;
  width: 250px;
  font-size: var(--main-text-body-xl); 
  border: 4px solid white;
  box-sizing: border-box;
}
.md{
  height: 35px;
  width : 130px;
  border: 2px solid white;
  box-sizing: border-box;
  font-size: var(--main-text-body-md); 
}

.container:hover{
  transition: 0.5s;
  background: #72b300;
}