.container{
  position:relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 500px;
  gap:8px;
  padding-left: 32px;
  padding-right: 32px;
  background: white;
  padding-bottom: 32px;
 
}

.summary{
  border: 1px var(--main-one-color) solid;
  height: 80px;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;
  
}

/* ############# seccion de dietas  ############## */

.containerdiets{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-top: 8px;
  padding-top: 8px;
  border-top: 2px var(--main-three-color) solid;
  
}
.containerdiets h2{
  margin-top: 0;
  letter-spacing: 2px;
}
.subcontainerdiets{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.diets{
  border: 1px green solid;
  width: 230px;
  height: 100px;
  box-sizing: border-box; 
  overflow-y: scroll;
}

.dietslist{
  list-style: none;
  text-align: start;
  padding-left: 16px;
 
}
.dietli{
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
}

/* ########## contenedor de Steps ############### */

.containersteps{
  height: 350px;
  border-top: 2px var(--main-three-color) solid;
  display: flex;
  flex-direction: column;
  gap:8px;
}
.containersteps h2 {
  margin-top: 8px;
}
.stepscontrol{
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}
.stepssubcontrol{
  display: flex;
  justify-content: space-between;
}

.stepslist{
  border: 1px var(--main-one-color) solid;
  height: 50ch;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.stepitem{
  margin-top: 0;
  margin-bottom: 0;
}

/* ########### recipes  ######### */
.containerrecipes{
  border: 1px green solid;
  height: 400px;
  overflow-y: scroll;
}

.pre{
  text-align: left;
}

/* ############## boton cancelar y enviar ############ */
.groupbutton{
  display: flex;
  justify-content: space-around;
}
.btn{
  height: 50px;
  width: 250px;
  color: white;
  font-size: 24px;
  background: var(--main-three-color);
  border-radius: 15px;
  border:none;
  cursor: pointer;
}
.cancelar{
  background: red;
  width: 180px;
}