.container{
  display: flex;
  flex-direction: column;
}
.containernav{
  z-index: 3;
  position: sticky;
  top: 0;
}
.title{
  font-size: var(--main-text-title);
  color:#6a00e6;
}
.containerdetail{
  align-self: center;
  width: 70%;
  margin-top: 30px;
}
.imgstyle{
  width: 700px;
}

.containerhealtdiets{
  width: 100%;
  background: #E7E9EB;;
  display: grid;
  grid-template-columns: auto 150px;
  height: 200px;
  align-items: center;
}
.healthScore {
  width: 130px;
  height: 150px;
  background: var(--main-one-color);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: white;
}
.number {
  font-size: var(--main-text-title);
  margin: 0;

}
.healthtitle {
  margin: 0;
  font-size: var(--main-text-body-xl);
}

.diets{
 display: flex;
 flex-direction: column;
 align-self: flex-start;
}

.dietstitle{
 font-size: var(--main-text-subtitle);
 margin-top: 24px;
 margin-bottom: 24px;
}
.ul{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  text-transform: uppercase;
}

/* *********** summary ************ */
.containersummary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background: #d6b3ff ;
  padding-bottom: 16px;
  margin-bottom: 32px;
}
.subtitle{
  font-size: var(--main-text-subtitle);
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #3b0080;
}
.subcontainersummary{

  width: 75ch;
  text-align: justify;
  font-size: var(--main-text-body-md);
}
/* *********** steps ************ */
.containersteps{
  height: 90vh;
  position:relative;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  margin-bottom: 32px;
 
}
.containersteps img{
  position:absolute;
  width: 900px;
  left: -100px;
  z-index: 1;
}
.titlesteps{
  position:absolute;
  left: 100px;
  top:20px;
  z-index: 2;
}
.subcontainersteps{
  width: 550px;
  z-index: 2;
  overflow-y: scroll;
  background: #E7E9EB;
  text-align:justify;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c4ff80;
  border-radius: 15px;
  background: #6a00e6;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  
}
.subcontainersteps ol{
  width: 50ch;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
.subcontainersteps ol li{
  margin-bottom: 8px;
}
.aviso{
  font-size: var(--main-text-subtitle);
}