.container{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.container img{
  object-fit: contain;
  height: 80%;
}
.container p{
  font-size: 24px;
  color: rgb(250, 39, 39);
}