.container{
 min-height: 90vh;
 border-right: 2px var(--main-one-color) solid;
 position: sticky;
 top: 50px;
 display: flex;
 flex-direction: column;
 align-items: center;
 color: var(--main-three-color);
 font-family: 'Neuton', serif;
 font-size: var(--main-text-subtitle);
 

}

.containerselect{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.check{
  color: var(--main-text-color);
}