.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.btn{
  width: 60px;
  height: 25px;
  margin-right: 5px;
  background: #efe5ff;
  color: #2e0080 ;
  font-weight: 400;
  border-radius: 10px;
  border:none;
  
}
.btn:hover{
  background: #acff1a;
  height: 30px;
  transition: 0.7s;
}

.current{
  background: #acff1a;
  border: 2px var(--second-one-color);
  font-weight: 700;
}