.container{
  background:#f1e5ff ;
  display: flex;
  justify-content: center;
 
 

}
.subcontainer{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
  display: flex;
  box-sizing: border-box;
  justify-content: end;
  overflow: hidden;
  position:relative;

}


.image{
  position: absolute;
  top:0;
  height: 160vh;
  width: 700px;

  z-index: 1;
  left: -110px;
  object-fit: fill;
  
}
.imagebuttom{
  position: absolute;
  bottom: -100px;
 left: 0;
 width: 530px;
  height: 600px;
  object-fit: cover;
}
.form{
  position: absolute;
  right: 0;
  top:0;
}