.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  
}
.subcontainer{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 55px;
 box-sizing: border-box;
}
.containerinput{
  margin-right: 20px;
  position: relative;
}
.icon{
  position: absolute;
  top: 5px;
  left: 5px;
}
.inputsearch{
  width: 400px;
  height: 35px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 3px solid var(--main-one-color) ;
  padding-left: 37px;
  font-size: var(--main-body-xl);
  font-weight: 600;
  font-style: italic;
  color: var(--main-text-color);
  box-sizing: border-box;
  
}
.inputsearch:focus{
  outline: none;
  border: 3px var(--second-one-color) solid;
}