:root {
  --main-one-color : #528000;
  --second-one-color: #007342;
  --main-two-color: #FF8500;
  --second-two-color: rgba(255, 133, 0, 0.8);
  --main-three-color: #5300e6;
  --second-three-color: green;
  --main-four-color: #EFF0F2;

  --main-text-color: #404040;

  --main-text-title: 58.59px;
  --main-text-subtitle: 30px;
  --main-text-body-xl: 25px;
  --main-text-body-md: 20px;
  --main-text-small: 12px;
  
}

.App {
  text-align: center;
}