.container{
  background: #9f4dff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.container h1{
  font-size: var(--main-text-title);
  color:#adff4d ;
}
