.container{
  background: var(--main-three-color);
  position: sticky;
  top: 0;
  z-index: 1;
}
.subcontainer{
  margin-top: 0;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  height: 50px;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}
.item{
  color: #efe5ff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 15px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 15px;
}
.item:hover{
  background: red;
}